.container {
    width: 80%;
    height: auto;
    padding: 3rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.container .text,
.container .btn {
    width: 50%;
}

.container h3 {
    font-family: var(--font-poppins-primary);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.container p {
    font-family: var(--font-poppins-primary);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

.container span.legend {
    font-family: var(--font-poppins-primary);
    font-weight: 400;
    font-size: 0.9rem;
}

.container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 834px) {
    .container {
        width: 100%;
        padding: 2rem;
    }
}

@media (max-width: 576px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .container .text,
    .container .btn {
        width: 100%;
    }

    .container .btn {
        margin-top: 1rem;
        justify-content: flex-end;
    }
}
