.widget {
    width: 16%;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    margin-right: 5px;
    transition: all 300ms ease-in-out;
    overflow: hidden;
}

.head {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.head h2 {
    font-family: var(--font-poppins-primary);
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    margin-left: 1rem;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
}
